<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleRestServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoRestServlet</display-name>
    <servlet-name>DemoRestServlet</servlet-name>
    <servlet-class>cades.icar.rest.sample.DemoRestServlet</servlet-class>
  </servlet>
  <!-- Note: a url-pattern set to /* would perfectly work... except for static .html files ! -->
  <servlet-mapping>
    <servlet-name>DemoRestServlet</servlet-name>
    <url-pattern>/demo/*</url-pattern>
  </servlet-mapping>
</web-app>